<!DOCTYPE html>
<html>
<head>
	<title> Datos</title>
</head>
<body>
	<form action="" method="post"> 

		<label>Profesión</label>
		<input type="" name=""><br>

		<label>Nombre</label>
		<input type="text" name="name"><br>

		<label> Teléfono </label>
		<input type="text" name="phone"><br>

		<label>E-mail</label>
		<input type="text" name="email"><br>
		
		<label>Profesional</label>
		<input type="text" name="profession"><br>

		<label>Career summary</label>
		<input type="text" name="career_summary">

		<br><button type="submit"> Save </button>


	</form>
</body>
</html>