<!DOCTYPE html>
<html>
<head>
	<title> Add Job</title>
</head>
<body>
<h1> Add Job</h1>

<div class="alert alert-primary" role="alert"> 
	{{ responseMessage }}
</div>

<form action="" method="post" enctype="multipart/form-data"> 
	<br><label> Titulo </label>
	<input type="text" name="title">
	<br><label> Descripción </label>
	<input type="text" name="description">
	<br><label>Meses</label>
	<input type="number" name="months">
	<br><label>Archivos</label>
	<input type="file" name="logo">


	<br><button type="submit"> Save </button>
</form>
</body>
</html>