<!DOCTYPE html>
<html>
<head>
	<title> Proyecto</title>
</head>
<body>
	<form action="" method="POST"> 
	<br><label> Nombre </label>
	<input type="text" name="name">

	<br><label> Descripción </label>
	<input type="text" name="description">

	<br><label> Tecnologías</label>
	<input type="text" name="technology">

	<br><label> Duración en meses</label>
	<input type="text" name="duration">
	<br><button type="submit"> Save </button>
	

</form>
</body>
</html>